DB_HOST=localhost
DB_PORT=[port_de_la_base_de_données]
DB_USER=[nom_d'utilisateur]
DB_PASS=[mot_de_passe]
DB_NAME=[nom_de_la_base_de_données]
RADIUS_MAC_SECRET=[mot secret pour le protocole RADIUS]
PFSENSE_SSH_HOST=<ip_de_ton_pfsense>
PFSENSE_SSH_PORT=22
PFSENSE_SSH_USER=admin
PFSENSE_SSH_KEY=<contenu_de_la_cle_privee_ssh_collé_ici>
PFSENSE_SNORT_LOG=/var/log/snort/snort_re032559/alert
CRON_API_TOKEN=<un_secret_aleatoire_long_pour_le_cron>
INTRUSION_PHP_URL=http://portail.cpanel/intrusion.php
FAIL2BAN_LOG=/var/log/fail2ban.log
