# Base de données principale (Utilisateurs, Rôles, Départements)
DB_HOST=localhost
DB_PORT=3306
DB_USER=[nom_d'utilisateur]
DB_PASS=[mot_de_passe]
DB_NAME=r[nom_de_la_base_de_données]

# Base de données RADIUS (Appareils, Historique de connexion radacct/radcheck)
RADIUS_DB_HOST=localhost
RADIUS_DB_PORT=3306
RADIUS_DB_USER=[nom_d'utilisateur]
RADIUS_DB_PASS=[mot_de_passe]
RADIUS_DB_NAME=[nom_de_la_base_de_données]
